section {
  margin-top: 2rem;
}

p {
  margin: 0;
}

img {
  border-radius: 15px;
}

.top-b {
  background: rgb(2, 0, 36);
  background: linear-gradient(133deg, rgb(2, 0, 36) 0%, rgb(101, 61, 35) 100%);
  padding: 0.5rem;
  width: 100%;
}
.top-b p a {
  color: white;
  text-decoration: none;
}
.top-b p a:hover {
  color: #dc3545;
  opacity: 80%;
}

.offcanvas-start {
  width: 100% !important;
  max-width: 100% !important;
  opacity: 90% !important;
}

.offcanvas-body .btn {
  --bs-btn-hover-bg: #ff5a6a;
  --bs-btn-hover-border-color: #ff5a6a;
}
.offcanvas-body .btn-outline-danger {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
}

.first {
  margin-bottom: 160px;
}
.first h2 {
  font-size: 5rem;
  font-weight: bolder;
  word-wrap: break-word;
}
.first .btn-secondary {
  --bs-btn-active-bg: rgba(255, 255, 255, 0.2) !important;
  --bs-btn-color: #646262 !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-active-border-color: transparent !important;
  margin: 40px auto;
}
.first .btn-secondary:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.devices {
  padding: 80px 50px;
}

.second {
  z-index: 1;
  position: relative;
  margin-bottom: 160px;
}
.second .btn {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #1fa36c;
  --bs-btn-font-size: 3rem;
}
.second a {
  color: grey;
  text-decoration: none;
}
.second .row {
  margin-top: 1.5rem;
}

.card-round {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 30px;
  border-color: #fff;
  background-color: rgba(65, 65, 65, 0.763);
  opacity: 40%;
}

.title {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.third {
  margin-bottom: 160px;
}
.third h2 {
  font-size: 5rem;
  font-weight: bolder;
  word-wrap: break-word;
}
.third p {
  font-size: 1.5rem;
  max-width: 800px;
}

.fourth {
  margin-bottom: 160px;
}
.fourth p {
  max-width: 600px;
}
.fourth .images-cont img {
  filter: grayscale(100%);
  opacity: 0.5;
  max-height: 36px;
}

.fifth {
  margin-bottom: 160px;
}
.fifth p {
  max-width: 600px;
}
.fifth h2 {
  font-size: 5rem;
  font-weight: bolder;
  word-wrap: break-word;
}

.cards-container {
  margin-bottom: 160px;
}
.cards-container .card {
  padding: 20px;
  border-radius: 20px;
  border: none;
  --bs-card-bg: #121212;
}
.cards-container img {
  width: 40px;
  height: 40px;
  aspect-ratio: auto;
}

.features-container-last {
  margin-bottom: 160px;
}
.features-container-last .card-img-top {
  border-radius: 10px;
}
.features-container-last .card {
  width: 400px;
  --bs-card-bg: #121212;
  border: none;
  border-radius: 15px;
}

footer a {
  text-decoration: none;
  color: grey;
  margin-bottom: 16px;
  font-size: 14px;
}
footer .row {
  padding: 40px 30px;
}
footer .title-footer {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
footer img {
  border-radius: 10px;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
footer .col p {
  max-width: 200px;
}
footer .col p a {
  color: white;
}
footer .last {
  padding: 25px 30px;
  width: 100%;
  max-width: 1400px;
}
footer .last a {
  margin: 10px;
}

.teams {
  margin-bottom: 160px;
}
.teams .col {
  padding: 0;
}
.teams .list-group-item {
  padding: 5px;
}
.teams .list-group {
  --bs-list-group-bg: transparent !important;
  --bs-border-radius: 0;
  --bs-list-group-item-padding-y: 2rem;
}
.teams img {
  width: 140px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.button-form {
  margin-bottom: 160px;
  padding: 10px 20px;
  background-color: #232323;
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.button-form .btn {
  --bs-btn-border-radius: 20px;
}
.button-form .custom-style {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  width: 150px;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}
.button-form .custom-style:focus {
  outline: none;
}

.links {
  position: sticky;
  top: 70px;
  height: -moz-fit-content;
  height: fit-content;
  width: 700px;
  left: 30px;
}
.links .btn {
  --bs-btn-hover-bg: #212121;
  --bs-btn-hover-border-color: #212121;
  --bs-btn-active-bg: #212121;
  --bs-btn-active-border-color: #212121;
  --bs-btn-padding-y: 10px;
}
.links .btn-outline-danger {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #000000;
}

.security {
  padding-top: 40px;
  padding-bottom: 80px;
}
.security .container {
  max-width: 1000px;
  width: 100%;
}

.text {
  color: white;
}
.text a {
  color: #dc3545;
  text-decoration: none;
}
.text a:hover {
  color: #ff5a6a;
}
.text p {
  margin-bottom: 24px;
}
.text h1 {
  margin-bottom: 40px;
  font-weight: bolder;
}
.text h2 {
  margin-bottom: 20px;
}
.text .btn {
  color: white;
  --bs-btn-hover-bg: #ff5a6a;
  --bs-btn-hover-border-color: #ff5a6a;
}

.card-round-download {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 30px;
  border-color: #fff;
  background-color: linear-gradient(332deg, rgba(111, 91, 39, 0.2) 100%, rgb(65, 65, 65) 15%, rgb(65, 65, 65) 87%, rgba(255, 90, 106, 0.2) 100%);
  opacity: 40%;
}/*# sourceMappingURL=base.css.map */