@import 'mixin'
@import 'variables'

.card-round-download
    @include round-card-download ($bg-card-colorful,1)

.first-download
    h2
        @include title
    p
        max-width: 800px
.text-gradient            
    background: linear-gradient(90deg, rgba(246,73,66,1) 0%, rgba(239,144,164,1) 50%, rgba(91,149,176,1) 100%) 
    background-clip: text 
    color: transparent !important

.downloads-email
    p
        max-width: 800px