@import 'variables'
@import 'mixin'

section
    margin-top: 2rem

p 
    margin: 0
img
    border-radius: 15px

.top-b
    background: rgb(2,0,36)
    background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(101,61,35,1) 100%)
    padding: 0.5rem
    width: 100%
    p
        a
            color: white
            text-decoration: none
        a:hover 
            color: #dc3545
            opacity: 80%

.offcanvas-start
    width: 100% !important
    max-width: 100% !important
    opacity: 90% !important 

.offcanvas-body
    .btn
        --bs-btn-hover-bg: #ff5a6a 
        --bs-btn-hover-border-color: #ff5a6a 
    .btn-outline-danger
        --bs-btn-color: #fff
        --bs-btn-border-color: #fff

.first
    margin-bottom: $bottom
    h2
        @include title
    .btn-secondary
        --bs-btn-active-bg: rgba(255, 255, 255, 0.2) !important
        --bs-btn-color: #646262 !important
        --bs-btn-bg: transparent !important
        --bs-btn-border-color: transparent !important
        --bs-btn-hover-border-color: transparent !important
        --bs-btn-active-border-color: transparent !important
        margin: 40px auto
    .btn-secondary:hover
        color: #fff !important
        background-color: rgba(255, 255, 255, 0.2) !important

.devices
    padding: 80px 50px

.second
    z-index: 1
    position: relative
    margin-bottom: $bottom
    .btn
        --bs-btn-color: #fff 
        --bs-btn-hover-color: #1fa36c
        --bs-btn-font-size: 3rem
    a
        color: grey
        text-decoration: none
    .row
        margin-top: 1.5rem

.card-round
    @include round-card ($bg-card-color)

.title
    color: #fff !important
    text-transform: uppercase
    font-size: 1.5rem
    font-weight: bold

.third
    margin-bottom: $bottom
    h2
        @include title
    p
        font-size: 1.5rem
        max-width: 800px
.fourth
    margin-bottom: $bottom
    p
        max-width: 600px
    .images-cont
        img
            filter: grayscale(100%)
            opacity: 0.5
            max-height: 36px

.fifth
    margin-bottom: $bottom
    p
        max-width: 600px
    h2
        @include title

.cards-container
    margin-bottom: $bottom
    .card
        padding: 20px
        border-radius: 20px
        border: none
        --bs-card-bg: #121212
    img
        width: 40px
        height: 40px
        aspect-ratio: auto

.features-container-last
    margin-bottom: $bottom
    .card-img-top
        border-radius: 10px
    .card
        width: 400px
        --bs-card-bg: #121212
        border: none
        border-radius: 15px
        
footer
    a
        text-decoration: none
        color: grey
        margin-bottom: 16px
        font-size: 14px
    .row
        padding: 40px 30px
    .title-footer
        font-size: 16px
        text-transform: uppercase
        color: white
        font-weight: bold
    img
        border-radius: 10px 
        width: 0
        height: 0
        min-width: 100%
        max-width: 100%
        min-height: 100%
        max-height: 100%
    .col
        p
            max-width: 200px
            a
                color: white
    .last
        padding: 25px 30px
        width: 100%
        max-width: 1400px
        a
            margin: 10px

.teams
    margin-bottom: $bottom
    .col
        padding: 0
    .list-group-item
        padding: 5px
    .list-group
        --bs-list-group-bg: transparent !important
        --bs-border-radius: 0
        --bs-list-group-item-padding-y: 2rem
    img
        width: 140px
        height: 60px
        object-fit: contain

.button-form
    margin-bottom: $bottom
    padding: 10px 20px
    background-color: #232323
    border-radius: 30px
    width: fit-content
    .btn
        --bs-btn-border-radius: 20px
    .custom-style
        background-color: transparent
        border: none
        padding: 0 10px
        width: 150px
        margin: 0
        font-size: inherit
        font-family: inherit
        line-height: inherit
        color: inherit
        text-decoration: none
        &:focus
            outline: none
            