section
    margin-top: 2rem

.first
    h2
        font-size: 5rem
        font-weight: bolder

p 
    margin: 0

.top-b
    background: rgb(2,0,36)
    background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(101,61,35,1) 100%)
    padding: 0.5rem
    width: 100%
    a
        color: white
        text-decoration: none
    a:hover 
        color: #dc3545
        opacity: 80%

.offcanvas-start
    width: 100% !important
    max-width: 100% !important
    opacity: 90% !important 

.offcanvas-body
    .btn
        --bs-btn-hover-bg: #ff5a6a 
        --bs-btn-hover-border-color: #ff5a6a 
    .btn-outline-danger
        --bs-btn-color: #fff
        --bs-btn-border-color: #fff

.first
    .btn-secondary
        --bs-btn-active-bg: rgba(255, 255, 255, 0.2) !important
        --bs-btn-color: #646262 !important
        --bs-btn-bg: transparent !important
        --bs-btn-border-color: transparent !important
        --bs-btn-hover-border-color: transparent !important
        --bs-btn-active-border-color: transparent !important
        margin: 40px auto
    .btn-secondary:hover
        color: #fff !important
        background-color: rgba(255, 255, 255, 0.2) !important

section
    .first
        margin-bottom: 240px

.devices
    padding: 80px 50px

.second
    z-index: 1
    position: relative
    margin-bottom: 240px
    .btn
        --bs-btn-color: #fff 
        --bs-btn-hover-color: #1fa36c
        --bs-btn-font-size: 3rem
    a
        color: grey
        text-decoration: none
    .row
        margin-top: 1.5rem

.card-round
    position: absolute
    z-index: -1
    top: 0
    height: 100%
    border-radius: 20px
    border-color: #fff
    background-color: rgba(65, 65, 65, 0.763)
    opacity: 70%

.title
    color: #fff !important
    text-transform: uppercase
    font-size: 1.5rem
    font-weight: bold

   
