.login
    .container
        min-height: 100dvh
        .card
            border-radius: 20px
            --bs-card-bg: #121212
.sign-up
    a
        text-decoration: none !important
        color: white !important       

