.login
    .container
        min-height: 100dvh
        .card
            border-radius: 20px
            --bs-card-bg: #121212
.sign-up
    text-decoration: none
    color: inherit
    &:hover
        text-decoration: underline
          

