.links
    position: sticky 
    top: 70px
    height: fit-content
    width: 700px
    left: 30px
    .btn
        --bs-btn-hover-bg: #212121 
        --bs-btn-hover-border-color: #212121
        --bs-btn-active-bg: #212121 
        --bs-btn-active-border-color: #212121  
        --bs-btn-padding-y: 10px
    .btn-outline-danger        
        --bs-btn-color: #fff
        --bs-btn-border-color: #000000

section
    padding-top: 40px
    padding-bottom: 80px
    .container
        max-width: 1000px
        width: 100%


.text
    color: white
    p
        margin-bottom: 24px
    h1
        margin-bottom: 40px        
    h2
        margin-bottom: 20px
    